.navbarbg-modify_dark {
  background-color: #000005;
}

.navbarbg-dirty_white {
  background-color: #c6bebfe2;
}

.navbarbg-grey {
  background-color: #607C8A;
}

.navbarbg-light_green {
  background-color: #8DBFB3;
}

.font-main {
  font-family: 'Algerian', sans-serif; 
  font-weight: bold;
  font-size: 26px;
  color: #ccc;
  margin-bottom: 0; 
  }

.font-student {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  }

.font-student2 {
  margin-bottom: 0px;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  }

.font-studentInfo {
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  color: #000000;
  }

.font-secondary {
  font-family: 'Times New Roman', serif;
    font-weight: normal;
    font-size: 18px;
    font-weight: bold;
    font-style: italic; 
    margin-top: 0px; 
    color: #ccc; 
}

#czas{
  font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: #000000;
}

#login-form {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 20px;
}
    
#login-form form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
    
.form-group {
  margin-bottom: 10px; 
}

#login-form label, #login-form input, #login-form button {
  display: block;
  margin: 0;
  color: #ccc;
  font-family: 'Times New Roman', serif;
}
    
#login-form input {
  background-color: #c6bebfe2;
  color: #000000;
  font-family: 'Times New Roman', serif;
  margin-right: 10px;
}
    
#login-form button {
  padding: 7px;
  background-color: #8DBFB3;
  color: #000000;
  font-family: 'Algerian', sans-serif;
  font-weight: bold;
  border: 4px solid #607C8A; 
  border-radius: 5px;
}

#login-form button:hover {
  color: #ccc;
  background-color: #607C8A;
}

.errorLogin {
  position: absolute;
  top: 85px;
  right: 220px;
  font-family: 'Times New Roman', serif;
  color: red;
}

.errorConnection {
  margin-top: 30px; 
  font-family: 'Times New Roman', serif;
  font-size: 24px;
  color: red;
}
.succes {
  margin-top: 30px; 
  font-family: 'Times New Roman', serif;
  font-size: 24px;
  color: rgb(2, 123, 40);
}

#user-info {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 20px;
}

.welcome-message {
  font-family: 'Times New Roman', serif;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0px;
  margin-right: 10px; 
  color: #ccc; 
}

#user-info button {
  padding: 7px;
  background-color: #e75454;
  color: #000000;
  font-family: 'Algerian', sans-serif;
  font-weight: bold; 
  border: 4px solid #607C8A; 
  border-radius: 5px;
}

#user-info button:hover {
  color: #ccc;
  background-color: #607C8A;
}

.thumbnail {
  width: 200px;
  height: 210px;
}

.thumbnail2 {
  width: 450px;
  height: 500px;
}

.kwiaty-container {
  display: flex;
  flex-wrap: wrap;
}

.kwiat-item {
  position: relative;
  margin: 10px;
  text-align: center;
}


.kwiat-details-container {
  display: flex;
}

.kwiat-info {
  max-width: 60%;
  margin-left: 20px;
}

.kwiat-item img {
  transition: transform 0.3s;
}

.kwiat-item:hover img {
  transform: translate(0px, -10px);
  box-shadow: 0 0 10px #607C8A;
}

#obrazPreview {
  margin-top: 10px;
}

#obrazPreviewImg {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-left: 55px;
}

.dodajKwiat_button {
  width: 200px;
  height: 100px;
  background-color: #8DBFB3;
  color: #000000;
  font-family: 'Algerian', sans-serif;
  font-weight: bold;
  border: 4px solid #607C8A;
  border-radius: 5px;
  margin-left: 40px;
}

.dodajKwiat_button:hover {
  color: #ccc;
  background-color: #607C8A;
}


.nazwa-label,
.opis-label,
.obraz-label {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
}

input[name="nazwa"] {
  border: 4px solid #607C8A;
  border-radius: 5px;
  width: 400px;
  height: 40px;
}

input[name="nazwa"]:hover, textarea.message-input:hover {
  border: 5px solid #607C8A;
  border-radius: 5px;
}

input[name="nazwa"]:focus, textarea.message-input:focus {
  outline: none;
  border: 4px solid #8DBFB3;
}

textarea.message-input {
  border: 4px solid #607C8A;
  border-radius: 5px;
  vertical-align: top;
  width: 400px;
  height: 200px;
  resize: none;
  overflow-y: auto;
}

#imie, #nazwisko, #email, #telefon, #password2, #old_password, #new_password, #confirm_password {
  width: 40%;
  padding: 8px;
  margin-bottom: 10px; 
  border: 4px solid #607C8A; 
  border-radius: 5px;
}

#imie:hover, #nazwisko:hover, #email:hover, #telefon:hover, #password2:hover, #old_password:hover, #new_password:hover, #confirm_password:hover {
  border: 5px solid #607C8A; 
  border-radius: 5px;
}

#imie:focus, #nazwisko:focus, #email:focus, #telefon:focus, #password2:focus, #old_password:focus, #new_password:focus, #confirm_password:focus {
  outline: none; 
  border: 4px solid #8DBFB3;
}

.aktualizacja-button {
  margin-right: 100px;
  padding: 7px;
  background-color: #8DBFB3;
  color: #000000;
  font-family: 'Algerian', sans-serif;
  font-weight: bold;
  border: 4px solid #607C8A;
  border-radius: 5px;
}

.aktualizacja-button:hover {
  color: #ccc;
  background-color: #607C8A;
}

.form-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.container {
  height: 100px;
}

.container2 {
  height: 250px;
}

.container3 {
  height: 70px;
}

.menu {
  min-height:85vh;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
}

.menu-button {
  display: block;
  width: 270px;
  height: 80px;
  margin-bottom: 5px; 
  padding: 10px;
  font-size: 20px;
  font-family: 'Algerian', sans-serif;
  font-weight: bold;
  background-color: #8DBFB3; 
  color: #000000; 
  border: 4px solid #607C8A;
  cursor: pointer;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.menu-button:hover {
  color: #ccc;
  background-color: #607C8A;
  transform: rotate(5deg);
}

.content {
  min-height: 80vh;
  padding-bottom: 56px;
}


