{% extends "layout.html" %}

{% block content %}

<span class="font-student">Dodaj Kwiat</span><br>

<form action="{{ url_for('dodaj_kwiat') }}" method="post" enctype="multipart/form-data">
    <!-- Pole Nazwa -->
    <label for="nazwa" class="nazwa-label">Nazwa:</label>
    <input type="text" name="nazwa" placeholder="Maks. liczba znaków: 35" required maxlength="35" value="{{ session.get('nazwa', '') }}">
    {% if error %}
        <span class="errorConnection">{{ error }}</span>
    {% endif %}
    <br>

    <!-- Pole Opis -->
    <label for="opis" class="opis-label">Opis:</label>
    <textarea class="message-input" id="message-input" name="opis" placeholder="Maks. liczba znaków: 10000" required maxlength="10000">{{ session.get('opis', '') }}</textarea>

    <!-- Przycisk Dodaj Kwiat -->
    <button type="submit" class="dodajKwiat_button">Dodaj Kwiat</button>
    <br>

    <!-- Pole Obraz -->
    <label for="obraz" class="obraz-label">Obraz:</label>
    <input type="file" name="obraz" accept="image/*" id="obrazInput" required onchange="pokazObraz(this)">

    <!-- Podgląd obrazu -->
    <div id="obrazPreview" style="display: none;">
        <img id="obrazPreviewImg" alt="Podgląd Obrazu">
    </div>
</form>

{% if succes %}
<span class="succes"> {{ succes }}</span>
{% endif %}

<!-- Skrypt do podglądu obrazu -->
<script>
    function pokazObraz(input) {
        var preview = document.getElementById('obrazPreview');
        var img = document.getElementById('obrazPreviewImg');

        var file = input.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                img.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        }
    }
</script>

{% endblock %}



