{% extends "layout.html" %}

{% block content %}
<!-- Nagłówek sekcji Zmiana hasła -->
<span class="font-student">Zmiana hasła</span><br><br>

<!-- Formularz zmiany hasła -->
<form action="{{ url_for('haslo') }}" method="post" class="form-container2">
    <label for="old_password" class="font-studentInfo"><b>Stare hasło: </b></label>
    <input type="password" id="old_password" name="old_password" required maxlength="35" required>

    <label for="new_password" class="font-studentInfo"><b>Nowe hasło: </b></label>
    <input type="password" id="new_password" name="new_password" placeholder="Maks. liczba znaków: 35" required maxlength="35" required>

    <label for="confirm_password" class="font-studentInfo"><b>Potwierdź nowe hasło: </b></label>
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Maks. liczba znaków: 35" required maxlength="35" required>

    <input type="submit" class="aktualizacja-button" value="Zmień hasło">
</form>

<!-- Wyświetlanie komunikatu o błędzie -->
{% if error %}
    <span class="errorConnection">{{ error }}</span>
{% endif %}

<!-- Wyświetlanie komunikatu o sukcesie -->
{% if success %}
    <span class="succes"> {{ success }}</span>
{% endif %}

{% endblock %}






