{% extends "layout.html" %}

{% block content %}
<!-- Nagłówek sekcji Strona główna -->
<span class="font-student">Strona główna</span><br><br>

<!-- Informacja powitalna -->
<span class="font-studentInfo"><b>Witaj na stronie internetowej E-KWIETNIK!</b></span><br><br>
<span class="font-studentInfo">
    Odkryj magiczny świat kwiatów na naszej stronie! Zanurz się w kolorach, zapachach
    i historiach każdego pięknego kwiatka. Nasz katalog pełen jest różnorodnych gatunków,
    od egzotycznych po tradycyjne, które z pewnością zachwycą Twoje zmysły.<br>
    Przeglądaj naszą bibliotekę kwiatową, dodawaj nowe kwiaty, dziel się swoimi ulubionymi
    i czerp inspirację do stworzenia swojego ogrodu pełnego kolorowych cudów natury.<br>
    Nie trać czasu, zanurz się w świecie pięknych kwiatów już teraz! Każdy kwiatek ma swoją
    unikalną historię, a Ty możesz być częścią tej magicznej przygody. Dodaj swoje ulubione
    rośliny, dziel się swoimi doświadczeniami i czerp radość z piękna natury.
</span><br><br><br><br><br><br>

<!-- Wyświetlanie aktualnego czasu serwera -->
<span class="font-studentInfo">Aktualny czas serwera: </span>
<span id="czas"></span>

<!-- Modal -->
<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cookieModalLabel">Informacja o plikach cookie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Ta strona korzysta z plików cookie, kontynuując przeglądanie zgadzasz się na ich użycie.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Rozumiem</button>
            </div>
        </div>
    </div>
</div>

<!-- Skrypt obsługujący EventSource i aktualizację czasu serwera -->
<script>
    const czas = document.getElementById("czas");

    const eventSource = new EventSource("/czas-serwera");
    eventSource.addEventListener("czas", function(event) {
        czas.innerHTML = event.data;
    });
</script>
{% endblock %}





