{% extends "layout.html" %}

{% block content %}

<!-- Nagłówek sekcji Katalog kwiatów -->
<span class="font-student">Katalog kwiatów</span><br>

<!-- Kontener dla kwiatów -->
<div class="kwiaty-container">

    <!-- Wyświetlanie komunikatu o błędzie połączenia -->
    {% if errorConnection %}
        <span class="errorConnection">{{ errorConnection }}</span>
    {% endif %}

    <!-- Iteracja przez listę kwiatów -->
    {% for kwiat in kwiaty %}
        <div class="kwiat-item">
            <!-- Link do szczegółów kwiatu -->
            <a href="{{ url_for('kwiat_detail', nazwa=kwiat.nazwa) }}">
                <!-- Wyświetlanie obrazka kwiatu -->
                <img src="{{ url_for('static', filename=kwiat.obraz) }}" alt="{{ kwiat.nazwa }} Image" class="thumbnail">
            </a>                        
            <!-- Wyświetlanie nazwy kwiatu -->
            <p>{{ kwiat.nazwa }}</p>
        </div>
    {% endfor %}

</div>

{% endblock %}

