{% extends "layout.html" %}

{% block content %}

    <!-- Nagłówek komunikatu -->
    <span class="font-student">Komunikat</span><br><br>

    <!-- Sprawdzenie, czy wystąpił błąd i wyświetlenie komunikatu o błędzie -->
    {% if error %}
        <span class="errorConnection">{{ error }}</span>
    {% endif %}

    <!-- Sprawdzenie, czy operacja zakończyła się sukcesem i wyświetlenie komunikatu o sukcesie -->
    {% if succes %}
        <span class="succes"> {{ succes }}</span>
    {% endif %}

{% endblock %}





