{% extends "layout.html" %}

{% block content %}

<!-- Nagłówek sekcji Kontakt -->
<span class="font-student">Kontakt</span><br><br><br>

<!-- Dane kontaktowe -->
<span class="font-student">Artur Pryczek</span><br>
<span class="font-studentInfo"><b>Indeks: </b>138630</span><br>
<span class="font-studentInfo"><b>Grupa:  </b>D1</span><br>
<span class="font-studentInfo"><b>Rodzaj studiów:  </b>Zaoczne</span><br>
<span class="font-studentInfo"><b>Rok akademicki:  </b>2023/2024</span><br>
<span class="font-studentInfo"><b>Semestr:  </b>5</span><br>
<span class="font-studentInfo"><b>E-mail:  </b>pryczekartur@gmail.com</span><br><br>

<!-- Dane kontaktowe -->
<span class="font-student">Bartłomiej Pryczek</span><br>
<span class="font-studentInfo"><b>Indeks: </b>151979</span><br>
<span class="font-studentInfo"><b>Grupa:  </b>D1</span><br>
<span class="font-studentInfo"><b>Rodzaj studiów:  </b>Zaoczne</span><br>
<span class="font-studentInfo"><b>Rok akademicki:  </b>2023/2024</span><br>
<span class="font-studentInfo"><b>Semestr:  </b>5</span><br>
<span class="font-studentInfo"><b>E-mail:  </b>bartlomiej.pryczek@wp.pl</span><br>

{% endblock %}
