{% extends "layout.html" %}

{% block content %}

    <!-- Nagłówek sekcji Konto -->
    <span class="font-student">Konto</span><br><br>

    <div class="users-container">
        <div class="user-item">
            <!-- Wyświetlanie informacji o użytkowniku -->
            <span class="font-studentInfo"><b>Użytkownik: </b>{{ user.username }}</span><br>
            <span class="font-studentInfo"><b>Typ konta: </b>{{ user.typKonta }}</span><br>

            <!-- Formularz zmiany hasła -->
            <form action="{{ url_for('haslo') }}" class="form-container2">
                <input type="submit" class="aktualizacja-button" value="Zmiana hasła">
            </form>

            <!-- Formularz aktualizacji danych użytkownika -->
            <form action="{{ url_for('aktualizuj_dane') }}" method="post" class="form-container2">
                <label for="imie" class="font-studentInfo"><b>Imię: </b></label>
                <input type="text" id="imie" name="imie" required maxlength="35" value="{{ user.imie }}">

                <label for="nazwisko" class="font-studentInfo"><b>Nazwisko: </b></label>
                <input type="text" id="nazwisko" name="nazwisko" required maxlength="35" value="{{ user.nazwisko }}">

                <label for="email" class="font-studentInfo"><b>E-mail: </b></label>
                <input type="text" id="email" name="email" required maxlength="35" value="{{ user.email }}">

                <label for="telefon" class="font-studentInfo"><b>Numer telefonu: </b></label>
                <input type="text" id="telefon" name="telefon" required maxlength="10" value="{{ user.telefon }}">

                <input type="submit" class="aktualizacja-button" value="Zaktualizuj dane">
            </form>

            <!-- Wyświetlanie komunikatów o błędzie lub sukcesie -->
            {% if error %}
                <span class="errorConnection">{{ error }}</span>
            {% endif %}
            {% if succes %}
                <span class="succes"> {{ succes }}</span>
            {% endif %}
        </div>
    </div>

{% endblock %}






