{% extends "layout.html" %}

{% block content %}

    <!-- Nagłówek z nazwą kwiatu -->
    <h2>{{ kwiat.nazwa }}</h2>

    <!-- Kontener dla szczegółów kwiatu -->
    <div class="kwiat-details-container">

        <!-- Obraz kwiatu -->
        <div class="kwiat-image">
            <img src="{{ url_for('static', filename=kwiat.obraz) }}" alt="{{ kwiat.nazwa }} Image" class="thumbnail2">
        </div>

        <!-- Informacje o kwiecie -->
        <div class="kwiat-info">
            <p><strong>Opis:</strong> {{ kwiat.opis }}</p>
        </div>

    </div>

{% endblock %}

