<!DOCTYPE html>
<html>
<head>
    <title>E-kwietnik</title>
    <!-- Link do stylów bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <!-- Link do (stylów) pliku style.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Link do biblioteki jquery i bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="navbarbg-dirty_white">
    <!-- Nawigacja strony -->
    <nav class="navbar navbar-expand-lg navbarbg-modify_dark">
        {% if 'username' in session %}
            <div id="user-info">
                <p class="welcome-message">Użytkownik: {{ session['username'] }}</p>
                <form action="/logout" method="post">
                    <button class="logout-button" type="submit">Wyloguj</button>
                </form>
            </div>
        {% else %}
            <div id="login-form">
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="username">Użytkownik:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Hasło:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">Zaloguj</button>
                </form>
            </div>
        {% endif %}

        <div class="container d-flex justify-content-center align-items-center">
            <a class="navbar-brand text-white mb-0 d-flex align-items-center" href="/">
                <!-- Logo i nazwa strony -->
                <img src="{{ url_for('static', filename='images/logostrony.png') }}" alt="Logo" style="width: 100px; height: 100px; margin-right: 10px;">
                <h1 class="text-white mb-0 mx-auto">
                    <span class="font-main">E-kwietnik</span><br>
                    <span class="font-secondary">Inspiracje kwiatowe</span>
                </h1>
            </a>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Menu -->
            <div class="col-md-2 navbarbg-light_green menu">
                <h2 style="display: none;">Menu</h2>
                <div class="menu-buttons">
                    <button class="menu-button" onclick="window.location.href='/'">Strona główna</button>
                    <button class="menu-button" onclick="window.location.href='/katalog'">Przeglądaj katalog</button>
                    <button class="menu-button" onclick="window.location.href='/dodaj_kwiat'">Dodaj kwiat</button>
                    <button class="menu-button" onclick="window.location.href='/kontakt'">Kontakt</button>
                    <button class="menu-button" onclick="window.location.href='/konto'">Konto</button>
                    <button class="menu-button" onclick="window.location.href='/rejestracja'">Zarejestruj się</button>
                </div>
            </div>

            <!-- Body -->
            <div class="col-md-10 content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <footer class="text-center fixed-bottom navbarbg-grey">
        <div class="container3 d-flex justify-content-center align-items-end">
            <p class="font-student2">
                Artur Pryczek 138630 <br> Bartłomiej Pryczek 151979 <br> &copy;  Programowanie aplikacji internetowych/Framework do aplikacji webowych - Projekt 2024
            </p>
        </div>
    </footer>

    <script>
        // Funkcja wywołująca modal
        $(document).ready(function() {
            $('#cookieModal').modal('show');
        });
    </script>
</body>
</html>

