{% extends "layout.html" %}

{% block content %}
<span class="font-student">Rejestracja</span><br><br>

<div class="users-container">
    <div class="user-item">
        <form action="{{ url_for('rejestracja') }}" method="post" class="form-container2">
            <!-- Pole Nazwa Użytkownika -->
            <label for="username" class="font-studentInfo"><b>Nazwa użytkownika: </b></label>
            <input type="text" id="imie" name="username" placeholder="Maks. liczba znaków: 35" required maxlength="35" required>

            <!-- Pole Hasło -->
            <label for="password" class="font-studentInfo"><b>Hasło: </b></label>
            <input type="password" id="password2" name="password" placeholder="Maks. liczba znaków: 35" required maxlength="35" required>

            <!-- Pole Potwierdź Hasło -->
            <label for="confirm_password" class="font-studentInfo"><b>Potwierdź hasło: </b></label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Maks. liczba znaków: 35" required maxlength="35" required>

            <!-- Przycisk Zarejestruj się -->
            <input type="submit" class="aktualizacja-button" value="Zarejestruj się">

            {% if error %}
                <span class="errorConnection">{{ error }}</span><br>
            {% endif %}

            {% if succes %}
                <span class="succes"> {{ succes }}</span>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}



